{% extends "bettersaas/templates/web.html" %} {% block style %}

<!-- no-header -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/lightweight-simple-grid@0.0.1/simplegrid.min.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,600&family=Righteous&family=Titan+One&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
/>
<link rel="stylesheet" href="./step.css" />
<link rel="stylesheet" href="./signup.css" />
{% endblock %} {% block page_content %}
<div>
  <main id="main">
    <div class="left">
      <div class="login_box">
        <div class="logo">
          <img
            src="https://uploads-ssl.webflow.com/5e53d34464688e6f5960a338/610a36c2792530d601aaf35f_OneHash_Logo.svg"
            class="logo-img"
            aria-hidden="true"
          />
          <div class="tagline">
            <div class="tagline_main">Free 14 day trial</div>
            <div class="tagline_sub">No credit card required</div>
          </div>
        </div>
        <v-form
          @submit="onSubmit"
          id="form"
          v-slot="{meta}"
          autocomplete="off"
          novalidate="novalidate"
        >
          <div class="row">
            <div class="col-12 col-md-6 mb-1">
              <v-field
                class="appearance-none placeholder:text-slate-600 block text-black-900 border py-3 px-4 leading-tight bg-white focus:outline-none focus:bg-gray-500"
                name="first-name"
                type="text"
                placeholder="First Name"
                :rules="isRequired"
              ></v-field>

              <error-message
                name="first-name"
                as="div"
                class="feedback error-feedback"
              ></error-message>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <v-field
                class="appearance-none placeholder:text-slate-600 block text-black-900 border py-3 px-4 leading-tight bg-white focus:outline-none focus:bg-gray-500"
                name="last-name"
                type="text"
                placeholder="Last Name"
                :rules="isRequired"
              ></v-field>

              <error-message
                name="last-name"
                as="div"
                class="feedback error-feedback"
              ></error-message>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-1 relative">
              <v-field
                v-slot="{meta,field,errorMessage}"
                :rules="checkSubdomain"
                :validateOnInput="true"
                name="site-name"
                v-model="sitename"
              >
                <input
                  id="site-name"
                  type="text"
                  placeholder="Site name"
                  v-bind="field"
                  class="appearance-none placeholder:text-slate-600 block text-black-900 py-3 px-4 leading-tight bg-white focus:outline-none focus:bg-gray-500"
                />
                <div v-if=" errorMessage" class="feedback error-feedback">
                  Site name is invalid or not available
                </div>
                <div
                  class="success-feedback feedback"
                  v-if="meta.dirty && meta.valid "
                >
                  {{_(sitename)}} Subdomain is available
                </div>
              </v-field>
              <div class="span site-name-right">.onehash.is</div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-1 relative">
              <v-field
                class="appearance-none placeholder:text-slate-600 block text-black-900 border py-3 px-4 leading-tight bg-white focus:outline-none focus:bg-gray-500"
                name="company-name"
                type="text"
                placeholder="Company Name"
                :rules="isRequired"
              ></v-field>

              <error-message
                name="company-name"
                as="div"
                class="feedback error-feedback"
              ></error-message>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mb-1">
              <v-field
                class="appearance-none placeholder:text-slate-600 block text-black-900 border py-3 px-4 leading-tight bg-white focus:outline-none focus:bg-gray-500"
                name="email"
                type="text"
                placeholder="Email"
                v-model="email"
                :rules="isEmailRegex"
              ></v-field>

              <error-message
                name="email"
                as="div"
                class="feedback error-feedback"
              ></error-message>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <v-field
                v-slot="{meta,field,errorMessage}"
                :rules="checkPasswordStrength"
                :validateOnInput="true"
                name="password"
              >
                <input
                  id="password"
                  type="password"
                  placeholder="Password"
                  v-bind="field"
                  class="appearance-none placeholder:text-slate-600 block text-black-900 py-3 px-4 leading-tight bg-white focus:outline-none focus:bg-gray-500"
                />
                <div v-if=" errorMessage" class="feedback long-feedback">
                  {{errorMessage}}
                </div>
                <div
                  class="success-feedback feedback"
                  v-if="meta.dirty && meta.valid "
                >
                  password is good to go
                </div>
              </v-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mb-1 relative">
              <v-field
                style="padding-left: 50px !important"
                class="appearance-none placeholder:text-slate-600 block text-black-900 border py-3 px-4 leading-tight bg-white focus:outline-none focus:bg-gray-500"
                name="phone"
                autocomplete="off"
                type="text"
                id="phone"
                placeholder="Phone Number"
                :rules="isPhoneRegex"
              ></v-field>

              <error-message
                name="phone"
                as="div"
                class="feedback error-feedback"
              ></error-message>
            </div>
            <div class="col-12 col-md-6">
              <input
                type="text"
                name="otp"
                @input="verifyOTP"
                id="otp"
                placeholder="OTP"
                v-model="otp"
                class="appearance-none placeholder:text-slate-600 block text-black-900 border py-3 px-4 leading-tight bg-white focus:outline-none focus:bg-gray-500"
              />
              <span id="otp-feedback" class="feedback"> </span>
            </div>
          </div>
          <div class="mt-10">
            <v-field
              name="terms"
              type="checkbox"
              id="terms"
              :rules="isTermsChecked"
              value="no"
            ></v-field>
            Accept terms and conditions

            <error-message
              name="terms"
              as="div"
              class="feedback error-feedback"
            ></error-message>
          </div>
          <!-- <button
            :disabled="!meta.valid"
            v-if="!showSubmitbtn"
            class="submit_btn w-100 drop-shadow-md mt-5"
            @click="sendOtp"
          >
            Get OTP
          </button> -->
          <div class="w-100 flex justify-content-center">
            <button
              :disabled="otpVerificationStatus.sendingOTP || otpVerificationStatus.otpSent || otpVerificationStatus.waitingForResend || otpVerificationStatus.otpVerified"
              type="submit"
              class="submit_btn drop-shadow-md mt-5 disabled:opacity-50"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <span
                v-if="!otpVerificationStatus.otpSent && !otpVerificationStatus.otpVerified && !otpVerificationStatus.sendingOTP"
                >Send OTP</span
              >
              <span id="timer" v-if="!otpVerificationStatus.otpVerified"></span>
              <span v-if="otpVerificationStatus.sendingOTP">Sending OTP</span>
              <span v-if="otpVerificationStatus.otpVerified"
                >Processing ....</span
              >
            </button>
          </div>
        </v-form>
        <ol class="steps">
          <li
            class="step"
            data-step="1"
            id="step1"
            :class="{'is-complete':status.step1 == 'completed','is-active':status.step1 == 'active'}"
          >
            Creating site
          </li>
          <li
            class="step"
            data-step="2"
            id="step2"
            :class="{'is-complete':status.step2 == 'completed','is-active':status.step2 == 'active'}"
          >
            Creating user
          </li>
          <li
            class="step"
            data-step="3"
            id="step3"
            :class="{'is-complete':status.step3 == 'completed','is-active':status.step3 == 'active'}"
          >
            Redirecting
          </li>
        </ol>
      </div>
    </div>
    <div class="right">
      <div class="ad">
        <div class="ad-title mb-3">
          <div>Get started with the</div>
          <div class="text-black">Most powerfull all in one software</div>
        </div>
        <img src="/assets/bettersaas/hero.svg" alt="" />
        <img src="/assets/bettersaas/hero3.svg" alt="" class="mt-4" />
      </div>
    </div>
  </main>
</div>
{% endblock %} {% block script %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
  integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/vee-validate@4.5.8/dist/vee-validate.js"></script>
<script src="./config.js"></script>
<script src="./signup.js"></script>

{% endblock %}
